<!doctype html>

<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RankStat</title>
    <link rel = "icon" href = "{{ url_for('static', filename = 'statistics.png') }}">   
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/bootstrap.min.css')}}">   
    <link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/style.css') }}">
    <link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/stepper.css') }}">
 
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  </head>

  <body>

    <div class="" id="InputOutput">
      

    <section class="step-wizard">
      <ul class="step-wizard-list mb-4">
          <li class="step-wizard-item current-item">
              <span class="progress-count">1</span>
              <span class="progress-label">Questions & Response Items</span>
          </li>
          <li class="step-wizard-item">
              <span class="progress-count">2</span>
              <span class="progress-label">Question Names & Frequencies</span>
          </li>
          <li class="step-wizard-item ">
              <span class="progress-count">3</span>
              <span class="progress-label">Displaying Output</span>
          </li>
      </ul>

      <div class="container" id="input1">

        <div class="container d-flex flex-column p-4" id="inputGroup">

          <div class="container m-0 p-0 d-inline-flex">
            <p class="p-1 px-3 m-0 mb-2" style="color: rgb(0, 170, 255); border: 2px solid rgb(0, 170, 255); border-radius: 5px;">
              Part 1:
            </p>
          </div>

          <h2 class="mb-4">Questions and Response Item Quantity</h2>
          
          <form action="/goto_part2" method='POST'>
          <div class="mb-4">
            <label for="exampleFormControlInput1" class="form-label">Enter Title of Ordinal Statistics Data</label>
            <input type="text" class="form-control" id="item" name="title" value="Satisfication Survey about Project Proposal">
          </div>

            <div class="container p-0 input-wrapper">
              <label for="ResponseItems" class="form-label">Enter Response Items and its Labels</label>
              <form method = "POST">
              <div class="input-group flex-nowrap py-2">
                <span class="input-group-text px-4" id="addon-wrapping">1</span>
                <input type="text" class="form-control" value="Strongly Disagree" aria-describedby="addon-wrapping" name = "question">
                <button class="btn btn-outline-secondary px-3 ms-3" type="button" id="button-addon1" style="min-width: auto; border-radius: 5px;">
                  <i class="bi bi-trash-fill"></i>
                </button>
                <!-- <span class="input-group-text px-2 ms-3" id="delBtn">
                  <i class="bi bi-trash-fill"></i>
                </span> -->
              </div>

              <div class="input-group flex-nowrap py-2">
                <span class="input-group-text px-4" id="addon-wrapping">2</span>
                <input type="text" class="form-control" value="Disagree" aria-describedby="addon-wrapping" name = "question">
                <button class="btn btn-outline-secondary px-3 ms-3" type="button" id="button-addon1" style="min-width: auto; border-radius: 5px;">
                  <i class="bi bi-trash-fill"></i>
                </button>
              </div>
              <div class="input-group flex-nowrap py-2">
                <span class="input-group-text px-4" id="addon-wrapping">3</span>
                <input type="text" class="form-control" value="Agree" aria-describedby="addon-wrapping" name = "question">
                <button class="btn btn-outline-secondary px-3 ms-3" type="button" id="button-addon1" style="min-width: auto; border-radius: 5px;">
                  <i class="bi bi-trash-fill"></i>
                </button>
              </div>
              <div class="input-group flex-nowrap py-2">
                <span class="input-group-text px-4" id="addon-wrapping">4</span>
                <input type="text" class="form-control" value="Strongly Agree" aria-describedby="addon-wrapping" name = "question">
                <button class="btn btn-outline-secondary px-3 ms-3" type="button" id="button-addon1" style="min-width: auto; border-radius: 5px;">
                  <i class="bi bi-trash-fill"></i>
                </button>
              </div>


                

            </div>
          
            <button class="btn btn-outline-secondary mt-3 mb-4 addresponseitem" type="button" name = "cmdsubmit" id="button-addon1" style="min-width:100%; border-radius: 5px;">
                  <i class="bi bi-plus-circle"></i>
                  Add Response Items
                </button>
        </div>
        <div class="container d-flex flex-row-reverse p-3" id="btnGroup">
      
          <button type="submit" class="btn btn-primary btn-lg px-4" value = "Submit">Next</button>
          <button type="button" class="btn btn-outline-secondary btn-lg px-4 mx-3">Clear</button>
        </div>
      </div>

    </form>

    </section>
    
    

    </div>

    <script>
      $(document).ready(function(){
          var max_input_fields = 10;
          var add_input = $('.addresponseitem');
          var input_wrapper = $('.input-wrapper');
          var add_input_count = 4; 
          $(add_input).click(function(){
              if(add_input_count < max_input_fields){
                  add_input_count++; 
                  var new_input = '<div class="input-group flex-nowrap py-2"><span class="input-group-text px-4" id="addon-wrapping">' + add_input_count + '</span><input type="text" class="form-control" aria-describedby="addon-wrapping" name = "question"><button class="btn btn-outline-secondary px-3 ms-3 remove-input" type="button" id="button-addon1" style="min-width: auto; border-radius: 5px;"><i class="bi bi-trash-fill"></i></button></div>';
                  $(input_wrapper).append(new_input); 
              }
          });
         
          $(input_wrapper).on('click', '.remove-input', function(e){
            e.preventDefault();
            $(this).parent('div').remove();
            add_input_count--;
    });
      });
      </script>
    <script src="js/bootstrap.min.js"></script>
  </body>

</html>



